@import "../../../styles/variable.scss";

.fix_btn {
  position: fixed;
  top: 90%;
  left: 90%;
  z-index: 99;
  opacity: 0.7;
  @include btn-w(2.1rem, 1rem);
  @include btn-c(
    darken($c-gray-dark, 20%),
    darken($c-gray-dark, 20%),
    $c-white
  );
  &:hover {
    @include btn-c(
      $c-white,
      darken($c-gray-dark, 20%),
      darken($c-gray-dark, 20%)
    );
  }
  &_home {
    top: 83%;
  }
  &_hide {
    display: none;
  }
}
