@import "../../../styles/variable.scss";

@mixin mediaMargin($px, $m, $w: 22rem) {
  @include media($px) {
    margin-right: $m;
    margin-left: $m;
    width: $w;
    height: $w * (12 / 11);
    @content;
  }
}

.card {
  @include disabledText;
  @include center {
    flex-direction: column;
    justify-content: flex-start;
  }
  transition: all 0.4s ease 0;
  min-width: 17rem;
  border: 1px solid $c-gray-dark;
  background-color: $c-white;
  margin: 1rem;
  border-radius: 18px;
  width: 22rem;
  height: 24rem;
  font-size: 1rem;
  color: $c-black;
  &:hover {
    box-shadow: 10px 5px 5px $c-gray-dark;
    transform: scale(1.05);
    z-index: 999;
  }

  @include mediaMargin(1184px, 0.9rem);
  @include mediaMargin(1174px, 0.8rem);
  @include mediaMargin(1165px, 0.7rem);
  @include mediaMargin(1155px, 0.6rem);
  @include mediaMargin(1145px, 0.5rem);
  @include mediaMargin(1136px, 0.4rem);
  @include mediaMargin(1127px, 0.3rem);
  @include mediaMargin(1117px, 0.2rem);
  @include mediaMargin(1107px, 0.1rem);
  @include mediaMargin(1098px, 1rem, 20rem) {
    font-size: 0.9rem;
  }
  @include mediaMargin(1088px, 0.9rem, 20rem);
  @include mediaMargin(1078px, 0.8rem, 20rem);
  @include mediaMargin(1068px, 0.7rem, 20rem);
  @include mediaMargin(1059px, 0.6rem, 20rem);
  @include mediaMargin(1049px, 0.5rem, 20rem);
  @include mediaMargin(1039px, 0.4rem, 20rem);
  @include mediaMargin(1030px, 0.3rem, 20rem);
  @include mediaMargin(1020px, 0.2rem, 20rem);
  @include mediaMargin(1012px, 0.1rem, 20rem);
  @include mediaMargin(1002px, 1rem, 18rem) {
    font-size: 0.8rem;
  }
  @include mediaMargin(992px, 0.9rem, 18rem);
  @include mediaMargin(983px, 0.8rem, 18rem);
  @include mediaMargin(973px, 0.7rem, 18rem);
  @include mediaMargin(963px, 0.6rem, 18rem);
  @include mediaMargin(954px, 0.5rem, 18rem);
  @include mediaMargin(944px, 0.4rem, 18rem);
  @include mediaMargin(934px, 0.3rem, 18rem);
  @include mediaMargin(925px, 0.2rem, 18rem);
  @include mediaMargin(915px, 0.1rem, 18rem);
  @include mediaMargin(915px, 0.1rem, 18rem);
  @include mediaMargin(906px, 1rem, 25rem) {
    font-size: 1.2rem;
  }
  @include mediaMargin(896px, 0.9rem, 25rem);
  @include mediaMargin(889px, 0.8rem, 25rem);
  @include mediaMargin(883px, 0.7rem, 25rem);
  @include mediaMargin(877px, 0.6rem, 25rem);
  @include mediaMargin(871px, 0.5rem, 25rem);
  @include mediaMargin(864px, 0.4rem, 25rem);
  @include mediaMargin(858px, 0.3rem, 25rem);
  @include mediaMargin(858px, 0.3rem, 25rem);
  @include mediaMargin(852px, 0.2rem, 25rem);
  @include mediaMargin(845px, 0.1rem, 25rem);
  @include mediaMargin(838px, 1rem, 23rem) {
    font-size: 1.1rem;
  }
  @include mediaMargin(832px, 0.9rem, 23rem);
  @include mediaMargin(826px, 0.8rem, 23rem);
  @include mediaMargin(819px, 0.7rem, 23rem);
  @include mediaMargin(813px, 0.6rem, 23rem);
  @include mediaMargin(807px, 0.5rem, 23rem);
  @include mediaMargin(799px, 0.4rem, 23rem);
  @include mediaMargin(794px, 0.3rem, 23rem);
  @include mediaMargin(787px, 0.2rem, 23rem);
  @include mediaMargin(781px, 0.1rem, 23rem);
  @include mediaMargin(774px, 1rem, 21rem) {
    font-size: 1rem;
  }
  @include mediaMargin(768px, 0.9rem, 21rem);
  @include mediaMargin(762px, 0.8rem, 21rem);
  @include mediaMargin(756px, 0.7rem, 21rem);
  @include mediaMargin(748px, 0.6rem, 21rem);
  @include mediaMargin(743px, 0.5rem, 21rem);
  @include mediaMargin(736px, 0.4rem, 21rem);
  @include mediaMargin(730px, 0.3rem, 21rem);
  @include mediaMargin(724px, 0.2rem, 21rem);
  @include mediaMargin(718px, 0.1rem, 21rem);
  @include mediaMargin(712px, 1rem, 19rem) {
    font-size: 0.9rem;
  }
  @include mediaMargin(704px, 0.9rem, 19rem);
  @include mediaMargin(698px, 0.8rem, 19rem);
  @include mediaMargin(692px, 0.7rem, 19rem);
  @include mediaMargin(685px, 0.6rem, 19rem);
  @include mediaMargin(678px, 0.5rem, 19rem);
  @include mediaMargin(672px, 0.4rem, 19rem);
  @include mediaMargin(666px, 0.3rem, 19rem);
  @include mediaMargin(660px, 0.2rem, 19rem);
  @include mediaMargin(654px, 0.1rem, 19rem);
  @include mediaMargin(648px, 1rem, 17rem) {
    font-size: 0.8rem;
  }
  @include mediaMargin(642px, 0.9rem, 17rem);
  @include mediaMargin(636px, 0.8rem, 17rem);
  @include mediaMargin(630px, 0.7rem, 17rem);
  @include mediaMargin(624px, 0.6rem, 17rem);
  @include mediaMargin(618px, 0.5rem, 17rem);
  @include mediaMargin(612px, 0.4rem, 17rem);
  @include mediaMargin(606px, 0.3rem, 17rem);
  @include mediaMargin(600px, 0.2rem, 17rem);
  @include mediaMargin(594px, 0.1rem, 17rem);
  @include mediaMargin(583px, 0, 32rem) {
    font-size: 1.4rem;
  }
  @include mediaMargin(562px, 0, 30rem) {
    font-size: 1.4rem;
  }
  @include mediaMargin(542px, 0, 28rem) {
    font-size: 1.3rem;
  }
  @include mediaMargin(522px, 0, 26rem) {
    font-size: 1.3rem;
  }
  @include mediaMargin(502px, 0, 24rem) {
    font-size: 1.2rem;
  }
  @include mediaMargin(420px, 0, 23rem) {
    font-size: 1.1rem;
  }
  @include mediaMargin(380px, 0, 22rem) {
    font-size: 1rem;
  }
}

.category {
  width: 100%;
  height: 40%;
  border-radius: 12px 12px 0 0;
  position: relative;
  .image {
    border-radius: 12px 12px 0 0;
  }
  .status {
    margin-top: 1.2rem;
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 99;
    color: $c-white;
    font-size: 1.2rem;
    font-weight: 700;
    &_0 {
      text-shadow: -2px 0 $c-pros, 0 2px $c-pros, 2px 0 $c-pros, 0 -2px $c-pros;
    }
    &_1 {
      text-shadow: -2px 0 $c-black, 0 2px $c-black, 2px 0 $c-black,
        0 -2px $c-black;
    }
    &_2 {
      text-shadow: -2px 0 $c-cons, 0 2px $c-cons, 2px 0 $c-cons, 0 -2px $c-cons;
    }
    @include media(1098px) {
      font-size: 1.1rem;
    }
    @include media(1002px) {
      font-size: 1rem;
    }
    @include media(906px) {
      font-size: 1.2rem;
    }
    @include media(838px) {
      font-size: 1.1rem;
    }
    @include media(648px) {
      font-size: 0.9rem;
    }
    @include media(583px) {
      margin-top: 1.5rem;
      font-size: 1.6rem;
    }
    @include media(542px) {
      margin-top: 1.5rem;
      font-size: 1.4rem;
    }
    @include media(502px) {
      margin-top: 1.5rem;
      font-size: 1.3rem;
    }
  }
}

.debaters {
  transform: translateY(-50%);
  width: 100%;
  @include center;
  .vs {
    font-size: 120%;
    font-weight: 900;
    transform: translateY(100%);
  }
}

.title {
  @include center;
  font-weight: 700;
  width: 90%;
  transform: translateY(-50%);
  position: relative;
  height: 22%;
  text-align: justify;
  word-break: break-all;
  line-height: 105%;
  font-size: 115%;
  overflow: auto;
}

.box {
  width: 90%;
  font-size: 110%;
  font-weight: 700;
  @include center {
    justify-content: space-between;
  }
  margin-bottom: 0.5rem;
  &_heart {
    color: $c-pros;
  }
  &_date {
    color: $c-cons;
  }
}
