@import "../../../styles/variable.scss";

@mixin btn($c, $b, $bc) {
  color: $c;
  border: 1px solid $b;
  background-color: $bc;
}

.outer {
  font-size: 0.8rem;
  margin: 4rem 0;
}

.container {
  @include center;
  flex-wrap: wrap;
  margin-top: 1rem;
  &:nth-child(1) {
    margin-top: 0;
  }
  &:nth-child(2) {
    margin-left: 12rem;
    margin-right: 12rem;
    @include tablet {
      margin-left: 3rem;
      margin-right: 3rem;
    }
    @include mobile {
      margin-left: 0.3rem;
      margin-right: 0.3rem;
    }
  }
}

.btn {
  @include disabledText;
  @include center;
  padding: 0.5rem;
  margin: 0.5rem 0.7rem;
  border-radius: 18px;
  width: 6rem;
  transition: 0.3s ease 0s;
  &:hover {
    font-weight: bold;
  }

  &_status {
    width: 8rem;
    @include btn($c-pros, $c-pros, $c-white);
    &_selected {
      width: 8rem;
      @include btn($c-white, $c-pros, $c-pros);
    }
  }

  &_category {
    @include btn($c-cons, $c-cons, $c-white);
    &_selected {
      @include btn($c-white, $c-cons, $c-cons);
    }
  }

  &_all {
    border-radius: 9px;
    &_cancel {
      @include btn($c-white, $c-cons, $c-cons);
      &:active {
        background-color: darken($c-cons, 20%);
      }
    }
    &_check {
      @include btn($c-white, $c-pros, $c-pros);
      &:active {
        background-color: darken($c-pros, 20%);
      }
    }
  }
}
