@import "../../../styles/variable.scss";

.outer {
  font-size: 0.8rem;
  margin: 4rem 0 1rem;
  @include center {
    flex-direction: column;
  }
}

.container {
  min-width: 20rem;
  @include center;
  flex-wrap: wrap;
  margin-top: 1rem;
  &:nth-child(1) {
    margin-top: 0;
  }
  &:nth-child(2) {
    width: 40rem;
    @include tablet {
      width: 30rem;
    }
    @include mobile {
      width: auto;
      margin-left: 0.3rem;
      margin-right: 0.3rem;
    }
  }
}

.btn {
  @include btn-w(6rem);
  margin: 0.5rem 0.7rem;
  &:hover {
    font-weight: 700;
  }

  &_status {
    width: 8rem;
    @include btn-c($c-pros, $c-pros, $c-white);
    &_selected {
      width: 8rem;
      @include btn-c($c-white, $c-pros, $c-pros);
    }
  }

  &_category {
    @include btn-c($c-cons, $c-cons, $c-white);
    &_selected {
      @include btn-c($c-white, $c-cons, $c-cons);
    }
  }

  &_all {
    border-radius: 9px;
    &_cancel {
      @include btn-c($c-white, $c-cons, $c-cons);
      &:active {
        background-color: darken($c-cons, 20%);
      }
    }
    &_check {
      @include btn-c($c-white, $c-pros, $c-pros);
      &:active {
        background-color: darken($c-pros, 20%);
      }
    }
  }
}
