@import "../../../styles/variable.scss";
$m: 5rem;

.outer {
  font-size: 1rem;
  color: $c-black;
  @include center {
    flex-direction: column;
  }
  min-width: 20rem;
  margin-bottom: 5rem;
}

.title {
  position: relative;
  background-color: $c-cons;
  &_bg {
    width: 100vw;
    height: 25rem;
    mix-blend-mode: exclusion;
  }
  &_name {
    color: $c-white;
    font-size: 250%;
    font-weight: 700;
    text-align: justify;
    position: absolute;
    word-break: break-all;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  &_date {
    color: $c-white;
    position: absolute;
    word-break: nowrap;
    bottom: 99%;
    left: 100%;
    transform: translateX(-110%) translateY(150%);
    width: max-content;
    font-weight: 700;
  }
}

.debaterInfo {
  @include center;
  width: 50%;
  margin-top: $m;
  gap: 1rem;
  @include disabledText;
  .vs {
    font-size: 150%;
    font-weight: 900;
  }
}

.participant {
  margin-top: 1rem;
  @include btn-w(7rem, 100%);
  @include btn-c($c-pros, $c-pros, $c-white);
  &:hover {
    @include btn-c($c-white, $c-pros, $c-pros);
  }
}

.heart {
  transition: all 0.4s ease 0;
  font-weight: 700;
  margin-top: $m;
  text-align: center;
  cursor: pointer;
  @include disabledText;
  &_fill {
    color: $c-pros;
  }
  &_empty {
    color: darken($c-gray-dark, 20%);
  }
}

.line {
  width: 80%;
  height: 1px;
  background-color: $c-gray-dark;
  margin-top: $m;
  margin-bottom: $m;
}

.name {
  @include disabledText;
  color: $c-cons;
  font-size: 200%;
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: center;
}

.details {
  text-align: center;
  word-break: break-all;
  white-space: pre-line;
  line-height: 130%;
  color: darken($c-gray-dark, 30%);
  margin-bottom: 3rem;
}

.contents {
  max-width: 90%;
  text-align: justify;
  word-break: break-all;
  white-space: pre-line;
  line-height: 150%;
  color: darken($c-gray-dark, 30%);
}

.video_box {
  width: 100%;
  cursor: pointer;
  @include center;
  video {
    width: 90%;
  }
}

@include tablet {
  .outer {
    font-size: 0.9rem;
  }
  .title {
    &_bg {
      height: 23rem;
    }
  }
  $m: 4rem;
  .debaterInfo {
    margin-top: $m;
  }
  .participant {
    @include btn-w(6rem, 100%);
  }
  .heart {
    margin-top: $m;
  }
  .line {
    margin-top: $m;
    margin-bottom: $m;
  }
  .name {
    margin-bottom: 2rem;
  }
  .details {
    margin-bottom: 2rem;
  }
}

@include mobile {
  .outer {
    font-size: 0.8rem;
  }
  .title {
    &_bg {
      height: 20rem;
    }
  }
  $m: 3rem;
  .debaterInfo {
    margin-top: $m;
  }
  .participant {
    @include btn-w(5rem, 100%);
  }
  .heart {
    margin-top: $m;
  }
  .line {
    margin-top: $m;
    margin-bottom: $m;
  }
  .name {
    margin-bottom: 1rem;
  }
  .details {
    margin-bottom: 2rem;
  }
}
