@import "../../styles/variable.scss";

.box {
  width: 40%;
  height: 100%;
  @include center {
    flex-direction: column;
  }
  min-width: 4rem;
  .image_box {
    border-radius: 50%;
    padding: 3%;
    @include center;
    &_pros {
      background-color: $c-pros;
    }
    &_cons {
      background-color: $c-cons;
    }
    .image {
      border-radius: 50%;
    }
  }
  .nickname {
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    font-size: 100%;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &_pros {
      color: $c-pros;
    }
    &_cons {
      color: $c-cons;
    }
    &_empty {
      color: darken($c-gray_dark, 20%);
    }
  }
}
