@import "../../styles/variable.scss";

.outer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 3rem;
  border-radius: 1.2rem;
  box-shadow: 0px 0px 15px #ececec;
  border: 1px solid #ececec;
  .title {
    color: $c-pros;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .form {
    margin: 0 auto;
    .input {
      label {
        display: block;
        margin: 10px 0;
        color: $c-pros;
      }
      input {
        width: 13rem;
        padding: 12px;
        border: 1px solid $c-pros;
        border-radius: 0.2rem;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: $c-pros;
        }
      }
      .vm {
        width: 13rem;
        color: $c-cons;
        font-size: 0.8rem;
        margin: 10px 0;
        line-height: 1.2rem;
      }
    }
  }
  .btn {
    width: 100%;
    margin: 20px 0 0;
    padding: 10px 0;
    color: #fff;
    background-color: #ff9425;
    border: none;
    cursor: pointer;
    border-radius: 0.2rem;
  }
  .invalid {
    color: #ccc;
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: not-allowed;
  }
}

.wrapper {
  position: relative;
  .show {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: $c-pros;
  }
}
