@import "../../../styles/variable.scss";

.outer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  background-color: rgba($c-black, 0.7);
  @include center;
}

.modal {
  @include center {
    flex-direction: column;
  }
  transform: translateY(-20%);
  background-color: $c-white;
  padding: 3rem 1rem;
  width: 22rem;
  border-radius: 9px;
  font-size: 1rem;
  text-align: center;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
  color: $c-pros;
  margin-bottom: 2rem;
}

.content {
  color: $c-black;
  margin-bottom: 2.5rem;
}

.container {
  @include center;
  gap: 2rem;
}

.btn {
  @include btn-w(7rem);
  &_pros {
    @include btn-c($c-pros, $c-pros, $c-white);
    &:hover {
      @include btn-c($c-white, $c-pros, $c-pros);
    }
  }
  &_cons {
    @include btn-c($c-cons, $c-cons, $c-white);
    &:hover {
      @include btn-c($c-white, $c-cons, $c-cons);
    }
  }
}
