$c-white: #f8fbfd;
$c-black: #292929;
$c-gray_light: #eeeeee;
$c-gray_dark: #cccccc;
$c-pros: #ff9425;
$c-cons: #6667ab;

@mixin tablet {
  @media screen and (max-width: 899px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 599px) {
    @content;
  }
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin disabledText {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
